#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: carlaramos # Change me (nombre del dominio sin .com)

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3pqm/sxtIWyS0nlkc0nrV1dWoIxLZ6h3HH6OZrh/vj7fmwyHvjYaBjtH8WOmlrz1yvNArRjPhg4pszsHLrxoLPGMrL4xkacdtiHq8/SKX3bj7EP6Hv3Gym+DYv5poi0GBKQuZer1QRWuO9hiaQOMy4EsV9jXTsHpJEhjjrEONjoaUF+MY2ELzqlnHkf4Mxgh2poC/adh+zjtmMAFX/gTFr/8M2+1W2RIaFY2Rpz5lfAiik9iD3hR5q2YjGYRDVww/YvMFCRAc58U2oC71u9R2SVoX5WsomcW6owOAQQNC0h20Vpx8RuzWNcZ29GiDuwEW8lT/Zk6zX8lmNCU4JLbd carlaramos@carlaramos-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo

    lock_passwd: false
